body {
    margin: 0;
    padding: 0;
}

main{
    padding: 16px;
}

footer{
    padding-bottom: 24px;
    padding-top: 24px;
    padding-left: 0;
    padding-right: 0;
}

img{
    height: 200px;
}

nav{
    border-bottom: 1px solid black;
}

.gridEdit{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.gridEdit h3 a{
    color: green;
}

h1{
    color: darkgreen;
}

footer{
    background-color: lightgreen;
}

p{
    margin-left: 20px;
}

header{
    background-color: red;
    height: 40px;
}

a{
    color: white;
    text-decoration: none;
}

nav{
    height: 30px;
    padding-top: 10px;
    padding-left: 15px;
}
